{{- if .Values.gitSync.enabled }}

{{- if or .Values.sshKey.privateKey .Values.sshKey.secretName }}
{{- $secretName := default .Values.gitSync.sshSecretName .Values.sshKey.secretName }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "oxy-start.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if .Values.sshKey.privateKey }}
  ssh: {{ .Values.sshKey.privateKey | b64enc | quote }}
  {{- end }}
  {{- if .Values.sshKey.knownHosts }}
  known_hosts: {{ .Values.sshKey.knownHosts | b64enc | quote }}
  {{- end }}
{{- end }}

{{- if and (not .Values.gitSync.githubApp.secretName) .Values.gitSync.githubApp.privateKey .Values.gitSync.githubApp.applicationId .Values.gitSync.githubApp.installationId }}
{{- $ghSecretName := printf "%s-github-app" (include "oxy-start.fullname" .) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ $ghSecretName }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "oxy-start.labels" . | nindent 4 }}
type: Opaque
data:
  {{ .Values.gitSync.githubApp.privateKeyKey | quote }}: {{ .Values.gitSync.githubApp.privateKey | b64enc | quote }}
  {{ .Values.gitSync.githubApp.applicationIdKey | quote }}: {{ printf "%v" .Values.gitSync.githubApp.applicationId | b64enc | quote }}
  {{ .Values.gitSync.githubApp.installationIdKey | quote }}: {{ printf "%v" .Values.gitSync.githubApp.installationId | b64enc | quote }}
{{- end }}

{{- end }}
